---
import "../styles/global.css"
---

<script>
    window.location.href = "https://github.com/AusterDev/jawn"
</script>

<div class="text-4xl text-center font-mono">
    Redirecting to GitHub...
</div>